<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main})}">

<body>
    <main>
        <div th:each="p:${items}" class="col-md-4">
            <div class="panel panel-primary text-center" >
                <div class="panel-heading">
                    <div th:text="${p.name}"></div>
                </div>
                <div class="panel-body">
                    <a th:href="@{|/api/v1/product/detail/${p.id}|}">
                        <div>
                            <img th:src="@{|/assets/${p.image}|}" height= 100% width= 100%;>
                        </div>
                      
                    </a>
                </div>
                <div class="panel-footer text-rigth">
                    <b class="pull-left">$[[${p.price}]]</b>
                    <button class="btn btn-success">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </div>

            </div>

        </div>
    </main>
</body>

</html>