<div xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="http://localhost:8082/api/v1/product/list">Tạp Hóa Xanh</a></li>
        <th:block th:if="${#request.remoteUser}">
          <li>
            <a th:href="@{/security/logoff}">Sign Out</a>
          </li>
          <li>
            <a th:href="@{/api/v1/order/list}">Your Order</a>
          </li>
          <li th:if="${#request.isUserInRole('STAF') or #request.isUserInRole('DIRE')}">
            <a th:href="@{/admin/home/index}">Administration</a>
          </li>
        </th:block>
        <th:block th:unless="${#request.remoteUser}">
          <li><a th:href="@{/security/login/form}">Sign IN</a></li>
        </th:block>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome [[${#request.remoteUser}]]</a></li>
      </ul>
    </div>
  </nav>
</div>