<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:8082/api/v1/product">Tạp Hóa Xanh</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="@{/}">Home</a></li>
        <li><a href="@{/security/login/form}">Sign IN</a></li>
        <li><a href="@{/security/logoff}">Sign Out</a></li>
        <li><a href="@{/}order/list">Your Order</a></li>
        <li><a href="@{/admin/home/index}">Administration</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome You</a></li>
      </ul> 
    </div>
  </nav>